/* Контейнер для основного контенту адмінки */
.content {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Хедер з кнопкою "Додати тварину" */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Контейнер для навігаційних кнопок */
.nav {
  max-width: 800px;
  margin: 0 auto 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* Загальні стилі для всіх кнопок */
.nav button,
.addButton {
  font-family: 'Georgia', sans-serif;
}

/* Стилі для навігаційних кнопок */
.nav button {
  color: #45a049;
  /* color: #219a52; */
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
}

.nav button:hover {
  background-color: #f0f0f0;
}

/* Кнопка "Додати тварину" */
.addButton {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.addButton:hover {
    background-color: #219a52;
}
