.App {
  text-align: center;
}
button {
  border: 0px;
  /* padding: 15px; */
  font-family: 'Georgia', sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0px;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Глобальні стилі для body */
body {
  font-family: 'Arial', sans-serif; /* Основний шрифт для тексту */
  font-size: 16px; /* Розмір основного шрифта */
  line-height: 1.5;
  margin: 0;
  padding: 0;
  /* color: #333;
  background-color: #f8f8f8; */
  word-wrap: break-word; /* Перенос слів у тексті */
}
h1 {
  font-family: 'Georgia', serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #111;
  margin: 0;
  line-height: 1.2;
}
h2 {
  font-family: 'Georgia', serif;
  font-weight: bold;
  color: #222;
  /* margin: 0 0 15px 0; */
  line-height: 1.3;
}
h3 {
  font-family: 'Georgia', serif;
  font-size: 24px;
  font-weight: bold;
  color: #444;
  /* margin: 0 0 10px 0; */
  line-height: 1.4;
}
h4 {
  font-family: 'Georgia', serif;
  font-size: 20px;
  font-weight: normal;
  color: #0d3f35;
  /* margin: 0 0 10px 0; */
  line-height: 1.5;
}
.text {
  font-family: 'Georgia', serif;
  font-size: 18px;
  font-weight: normal;
  color: #0d3f35;
  /* margin: 0 0 10px 0; */
  line-height: 1.2;
}
p {
  font-size: 16px;
  line-height: 1.6; /* Міжрядковий інтервал */
  margin: 15px 0 0 0; /* Відступи між абзацами */
  color: #555; /* Колір тексту */
  font-weight: normal;
}

button:active {
  background-color: #003f7f; /* Колір фону при натисканні */
}

button:disabled {
  background-color: #ccc; /* Колір фону для вимкнених кнопок */
  cursor: not-allowed;
  background: #e0e0e0 !important;
  /* color: #aaa !important; */
  color: #999 !important;
  cursor: not-allowed;
  opacity: 0.8;
}

.active {
  /* color: black; */
  text-decoration: underline;
  text-underline-offset: 6px;
}

.swiper-pagination-bullet {
  /* background: #b2cfc2 !important; */
  opacity: 0.9;
  background-color: #095145 !important;
}

.swiper-pagination-bullet-active {
  /* background: #0d3f35 !important; колір активної */
  /* background-color: #095145 !important; */
  background-color: #333 !important;
  opacity: 1;
}
.swiper-button-lock {
  display: flex !important;
}
